streamlit
langchain
langchain-community
langchain-core

langchain-groq
chromadb
tiktoken
pypdf

langchain-experimental
sentence_transformers

ipykernel
validators==0.28.1

unstructured

